body{
    font-family:'Open Sans', sans-serif;
    margin: 0;
  

}
h1, h2{
    font-family:'Open Sans', sans-serif;
     font-weight: 400;
}

div p{
    font-family:'Open Sans', sans-serif;
    margin: 0;
}

h1 {
font-size: 40px;
}

h2 {
font-size: 25px; 
}

section{
height: 90vh;

position: relative;

}

footer{
    background-color: aquamarine;
   
}

nav{
    top: 0;
    text-align: center;
}

nav a{
    font-family:'Open Sans', sans-serif;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 14px;
   
}

header{
    position: relative;
    padding-top: 200px;
    text-align: center;
}


.container{
    align-items: center;
    margin: auto;

    /*max-width: 700px;
    margin:auto;
    
    height: 20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0; 
    margin: auto;*/
}

/*
.navBar{
    border: 10px solid gray;
    width: 100%;
    margin:auto;

    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: -50vh; 
}


.topRight{

    position: absolute; 
    top:8px;
    right: 10px;
    
}
*/

